@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-cream: #FDFBF7;
  --color-eggplant: #564A75;
  --color-eggplant-dark: #403657;
  --color-accent-orange: #E89159;
  --color-accent-green: #A6C48A;
  
  --font-sans: "Nunito", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Merriweather", ui-serif, Georgia, serif;

  --animate-fade-in-up: fadeInUp 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  @keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
}

@layer base {
  body {
    @apply bg-cream text-slate-800 antialiased;
  }
}
